*.deb
*.xz
*.gz
*.dsc
*.changes
*.buildinfo

binaries

#Ignore opencast's source, but not the debian control folder
opencast/*
!opencast/debian
opencast/debian/opencast-*-*
opencast/debian/*.log
opencast/debian/*.substvars
opencast/debian/*.debhelper
opencast/debian/files
opencast/debian/tmp
opencast/debian/debhelper-build-stamp

ffmpeg/*
!ffmpeg/debian
ffmpeg/debian/ffmpeg-dist
ffmpeg/debian/*.log
ffmpeg/debian/*.substvars
ffmpeg/debian/*.debhelper
ffmpeg/debian/files
ffmpeg/debian/debhelper-build-stamp

opensearch/*
!opensearch/debian
opensearch/debian/changelog
opensearch/debian/opensearch-dist
opensearch/debian/*.log
opensearch/debian/*.substvars
opensearch/debian/*.debhelper
opensearch/debian/files
opensearch/debian/debhelper-build-stamp

tobira/*
!tobira/debian
tobira/debian/changelog
tobira/debian/tobira
tobira/debian/*.log
tobira/debian/*.substvars
tobira/debian/*.debhelper
tobira/debian/files
tobira/debian/debhelper-build-stamp
