*.deb
*.xz
*.gz
*.dsc
*.changes
*.buildinfo

#Ignore opencast's source, but not the debian control folder
opencast/*
!opencast/debian
opencast/debian/opencast-*-*
opencast/debian/*.log
opencast/debian/*.substvars
opencast/debian/*.debhelper
opencast/debian/files
opencast/debian/tmp
opencast/debian/debhelper-build-stamp

ffmpeg/*
!ffmpeg/debian
ffmpeg/debian/ffmpeg-dist
ffmpeg/debian/*.log
ffmpeg/debian/*.substvars
ffmpeg/debian/*.debhelper
ffmpeg/debian/files
ffmpeg/debian/debhelper-build-stamp

activemq/*
!activemq/debian
activemq/debian/activemq-dist
activemq/debian/*.log
activemq/debian/*.substvars
activemq/debian/*.debhelper
activemq/debian/files
activemq/debian/debhelper-build-stamp
