*.deb
*.xz
*.gz
*.dsc
*.changes

#Ignore opencast's source, but not the debian control folder
opencast/*
!opencast/debian
opencast/debian/opencast-common-*
opencast/debian/opencast-admin-*
opencast/debian/opencast-worker-*
opencast/debian/opencast-presentation-*
opencast/debian/opencast-allinone-*
opencast/debian/opencast-activemq-*
opencast/debian/*.log
opencast/debian/*.substvars
opencast/debian/*.debhelper
opencast/debian/files
opencast/debian/tmp

ffmpeg/*
!ffmpeg/debian
ffmpeg/debian/ffmpeg
ffmpeg/debian/*.log
ffmpeg/debian/*.substvars
ffmpeg/debian/*.debhelper
ffmpeg/debian/files

activemq/*
!activemq/debian
activemq/debian/activemq
activemq/debian/*.log
activemq/debian/*.substvars
activemq/debian/*.debhelper
activemq/debian/files
