Source: opencast-6
Section: java
Priority: optional
Maintainer: Greg Logan <gregorydlogan@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 maven (>= 3.1.0),
 openjdk-8-jdk
Standards-Version: 3.9.5
Homepage: http://opencast.org
Vcs-Git: git@github.com:gregorydlogan/debian-packaging.git
Vcs-Browser: https://github.com/gregorydlogan/debian-packaging

Package: opencast-6-common
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 openjdk-8-jre,
 adduser,
 netcat,
 sudo,
 init-system-helpers
Provides:
 opencast (= 6.6)
Conflicts:
 opencast (<< 6.6),
 opencast (>> 6.7)
Description: Open Source Lecture Capture & Video Management Tool Common Files
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the base fileset for Opencast and is not functional without an 
 opencast-6-* package.

Package: opencast-6-allinone
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq,
 ffmpeg-dist | ffmpeg,
 tesseract-ocr,
 hunspell
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-adminpresentation,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 mariadb-server
Description: Open Source Lecture Capture & Video Management Tool All-In-One Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the all-in-one profile of Opencast.  You 
 will not need any additional nodes for this install.

Package: opencast-6-admin
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq
Conflicts:
 opencast-6-allinone,
 opencast-6-adminworker,
 opencast-6-adminpresentation,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 nfs-kernel-server,
 mariadb-server
Description: Open Source Lecture Capture & Video Management Tool Admin Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the admin node profile of Opencast.  You will need
 one of these installed in a clustered install of Opencast.

Package: opencast-6-worker
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 sox,
 ffmpeg-dist | ffmpeg,
 hunspell,
 tesseract-ocr
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-adminpresentation,
 opencast-6-allinone,
 opencast-6-presentation,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Worker Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the worker node profile of Opencast.  You will need
 at least one of these installed in a clustered install of Opencast.  More workers
 means you can process videos faster, to a point.

Package: opencast-6-adminworker
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq,
 sox,
 ffmpeg-dist | ffmpeg,
 hunspell,
 tesseract-ocr
Conflicts:
 opencast-6-admin,
 opencast-6-adminpresentation,
 opencast-6-allinone,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Worker Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the admin+worker node profile of Opencast.  It combines both the admin
 and worker nodes into one profile.  In general you want separate nodes for large
 installs but this profile works well for small installations.

Package: opencast-6-presentation
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-adminpresentation,
 opencast-6-worker,
 opencast-6-allinone,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 nginx,
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Distribution Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the presentation node profile of Opencast.  You will need
 at least one of these installed in a clustered install of Opencast.  This is the node
 where your users will go for the output video files.

Package: opencast-6-adminpresentation
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-allinone,
 opencast-6-migration,
 opencast-6-ingest
Suggests:
 nginx,
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Distribution Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the admin+presentation node profile of Opencast.  It combines both the admin
 and presentation nodes into one profile.  In general you want separate nodes for large
 installs but this profile works well for small installations.

Package: opencast-6-ingest
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-allinone,
 opencast-6-migration
Suggests:
 nginx,
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Distribution Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the ingest node profile of Opencast.  It contains only the portions of Opencast
 required to ingest media from capture agents.

Package: opencast-6-migration
Architecture: all
Depends:
 opencast-6-common (>= 6.6),
 opencast-6-common (<< 6.7),
 activemq-dist | activemq
Conflicts:
 opencast-6-admin,
 opencast-6-adminworker,
 opencast-6-worker,
 opencast-6-presentation,
 opencast-6-allinone,
 opencast-6-ingest
Suggests:
 nfs-client
Description: Open Source Lecture Capture & Video Management Tool Distribution Profile
 Opencast is a free, open-source platform to support the management of
 educational audio and video content. Institutions will use Opencast to
 produce lecture recordings, manage existing video, serve designated
 distribution channels, and provide user interfaces to engage students with
 educational videos.
 This is the migration profile of Opencast.  It is only useful when upgrading between
 major versions.
