[Unit]
Description=Messaging and Integration Patterns provider
After=local-fs.target
After=network.target

[Service]
#Type=forking
#ExecStart=/usr/bin/activemq start >/dev/null 2>&1
#ExecStop=/usr/bin/activemq stop >/dev/null 2>&1
ExecStart=/usr/bin/activemq console
User=activemq
Group=activemq

[Install]
WantedBy=multi-user.target

