Source: octoka
Section: video
Priority: optional
Maintainer: Greg Logan <gregorydlogan@gmail.com>
Build-Depends:
 debhelper (>= 9),
 autotools-dev,
 dh-exec
Standards-Version: 3.9.5
Homepage: https://github.com/opencast/octoka
Vcs-Git: git@github.com:gregorydlogan/debian-packaging.git
Vcs-Browser: https://github.com/gregorydlogan/debian-packaging

Package: octoka
Architecture: amd64
Description: octoka is a small HTTP server that can answer JWT-authenticated
 requests for Opencast static files. Run it alongside Opencast to enable
 faster auth-checked file serving, even while Opencast is down (e.g. for
 updates).
