[Unit]
Description=Octoka
Documentation=https://github.com/opencast/octoka

After=local-fs.target
After=network.target

[Service]
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/octoka run
Restart=always
User=octoka

[Install]
WantedBy=multi-user.target

